.container {
    width: 50rem;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 50px;
    background-color: var(--body_background);
    color: var(--body_color);
  }
  .result{
    padding: 20px;
    margin-right: 20px;
    list-style: none;
  }
  @media (max-width: 504px){
    .container{
     width: 60%;
   
      
    }
    
  }