.container {
    width: 48rem;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 50px;
  }
  .result{
    padding: 20px;
    margin-right: 20px;
    list-style: none;
  }
  @media (max-width: 504px){
    .container{
     width: 60%;
   
      
    }
    
  }