/* Reviews.css */

/* Style the outer container */
.modalClass{
  color: var(--text-color);
  background-color: var(--body_background);
}
.darkModal {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 5px;
  /* Add any other dark theme styles you need for the modal */
}
.review-container {
    /* background-color: #f5f5f5; */
    padding: 20px;
    border-radius: 10px;
    
  }
  .darkTheme {
    background-color: #121212; /* Change the background color for dark theme */
    color: #ffffff; /* Change the text color for dark theme */
  }
  .darkInput {
    background-color: var(--input-backgroundcolor) !important;
    color: var(--input-textcolor) !important;
  }
  
  .darkInput::placeholder {
    color: #ccc !important; /* Replace with your desired placeholder text color */
  }
  .review-container h2{
    justify-content: center;
  }
  /* Style the review list */
  .review-list {
    list-style: none;
    padding: 0;
  }
  
  .review-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  .reviews {
    justify-content: center;
    margin-left: 45%;
   
  }
  .review-rating {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-text {
    margin-top: 5px;
  }
  
  /* Style the "Give Review" button */
  .review-button {
    display: flex;
    /* background-color: #007bff;
    color: #fff; */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
  }
  
  .review-button:hover {
    background-color: #0056b3;
  }
  @media (max-width: 1024px){
    .reviews{
       margin-left: 44%;
    }
       
     }
  @media (max-width: 912px){
    .reviews{
       margin-left: 42%;
    }
       
     }
  @media (max-width: 820px){
    .reviews{
       margin-left: 41%;
    }
       
     }
     @media (max-width: 500px){
      .reviews{
         margin-left: 38%;
      }
         
       }
  @media (max-width: 480px){
 .reviews{
    margin-left: 39%;
 }
    
  }
  @media (max-width: 412px){
    .reviews{
       margin-left: 36%;
    }
       
     }
  @media (max-width: 361px){
    .reviews{
       margin-left: 35%;
    }
       
     }
     @media (max-width: 280px){
        .reviews{
           margin-left: 29%;
        }
           
         }
       