/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  font-family: "Nunito", sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Light Theme Colors */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --error-color: red;

}

/* Dark Theme Colors */
.darkTheme {
  --background-color: #121212;
  --input-backgroundcolor: #323232;
  --text-color: #ffffff;
  --error-color: red;
  --input-textcolor: #ffffff;
  --placeholder-color: red;
}

/* Apply the theme styles to the entire page */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* Additional global styles for the body */
}

